<div class="container">
  <div class="row">
    <h1 class="col-12">
      Welcome to {{ title }}!
    </h1>
    <h3 class="col-12">Please make your choise</h3>
    <div *ngFor="let drink of listDrinks" class="col-12">
      {{drink.drinkNumber}}. <strong>{{drink.name}}:</strong> {{drink.cost}} cents
    </div>
  </div>

  <div class="row">
    <form (ngSubmit)="onSubmit()" class="col-6 form-group">
      <input type="number" #input class="form-control" required [(ngModel)]="model.amount" name="amount"
        placeholder="Please put coins" />
      <input type="number" class="form-control" [(ngModel)]="model.drinkNumber" name="drinkNumber"
        placeholder="Please put number of drink">
      <button type="submit" class="btn btn-success" [disabled]="!model.amount">Submit</button>
    </form>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" *ngIf="error">{{error}}</div>
      <div class="alert alert-primary" *ngIf="total">Submitted: <strong>{{total}} Cents</strong></div>
      <div class="alert alert-primary" *ngIf="drinkName && !error">Please get a drink: <strong>{{drinkName}}</strong></div>
      <div class="alert alert-primary" *ngIf="yourChange && !error">Please get a change: <strong>{{yourChange}} Cents</strong></div>
      <div class="alert alert-primary" *ngIf="resultChangeArr.length">
        <div> You will get a change :</div>
        <ul>
          <li *ngFor="let coin of resultChangeArr">with <strong>{{coin}} cents</strong> Coin</li>
        </ul>
      </div>
    </div>

  </div>

</div>